/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #ccc;
    background: url(https://picsum.photos/id/800/1024/768);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.formLogin {
    background-color: #666;
    height: 600px;
    margin: 40px auto;
    width: 450px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px -2px 15px #666666;
}

.formLogin .texto {
    height: 300px;
    width: 100%;
    background-color: green;
    background: url(https://picsum.photos/id/675/800/600);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.formLogin .texto h1 {
    color: white;
    font-family: "Assistant";
    font-size: 45px;
    line-height: 40px;
    margin: 0 30px;
    width: 60%;
}

.formLogin .texto p {
    color: white;
    font-size: 10px;
    margin: 2px 30px 40px;
    width: 60%;
}

.formLogin .form {
    background-color: #ffffff;
    height: 300px;
    width: 100%;
}

.formLogin .form h1 {
    color: #666666;
    font-family: "Assistant";
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.formLogin .form .inputs {
    margin: 10px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.formLogin .form .inputs label{
    color: #666666;
    font-family: "Roboto";
    font-weight: bold;
    margin: 2px;
}

.formLogin .form .inputs input{
    border: 0;
    border-bottom: 1px solid #666;
    margin: 5px 0;
}

.formLogin .form .inputs input::placeholder{
    color: #cccccc;
}

.formLogin .form .inputs #remember{
    color: #cccccc;
    font-size: 12px;
}

.formLogin .form .inputs #remember input{
    height: 10px;
    width: 10px;
}

.formLogin .form .inputs button {
    color: white;
    background: linear-gradient(to left top, #30e0ab 30%, #0591ee 70%);
    border: 0;
    font-family: "Roboto";
    height: 30px;
    margin-top: 20px;
    width: 80px;
    /* animation-duration: 3s;
    animation-name: slidein; */
}

.formLogin .form .inputs button:hover {
    color: gray;
    cursor: pointer;
    box-shadow: 2px 2px 5px #666666;
}

.formLogin .form .social-media {
    text-align: center;
    font-size: 30px;
}

.formLogin .form .social-media .fa-html5 {
    color: #eb9f13;
}

.formLogin .form .social-media .fa-css3 {
    color: #1f6dd4;
}

/* @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
 */

/* 

margin: 10px; // trbl (t = top r = right b = bottom l = left)
margin: 10px 10px; // tb lr
margin: 10px 10px 10px; // t lr b 
margin: 10px 10px 10px 10px; // t r b l

padding: 10px; // trbl (t = top r = right b = bottom l = left)
padding: 10px 10px; // tb lr
padding: 10px 10px 10px; // t lr b 
padding: 10px 10px 10px 10px; // t r b l

border: 10px; // trbl (t = top r = right b = bottom l = left)
border: 10px 10px; // tb lr
border: 10px 10px 10px; // t lr b 
border: 10px 10px 10px 10px; // t r b l


*/